* {
    margin: 0px;
    padding: 0px;
}
ul {
    list-style-type:none;
    margin-bottom: 30px;
    overflow: hidden;
}
nav{
    height: 54px;
    background-color: #DDDDDD;
}

.navegador-lateral {
    overflow: hidden;
    display: block;
    background-color: white;
}

.drop-downs {
    display: block;
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    border: 1px solid white;            
    overflow: visible;
    max-height: 0px;
    transition: max-height 1850ms;
}
.drop-downs:hover{  
    max-height: 150px;
}

.links {
    letter-spacing: 3px;
}
.drop-downs .links {
    background-color: #DDDDDD;
    color: black;
    text-decoration: none;
    display: block;
    padding: 16px;
}
.drop-downs:hover .links{  
    background-color: #CCCCCC;
    color: black;
}

.content {
    display: none;
    background-color: #DDDDDD;
    height: 40px;
    width: 105px;
    padding-top: 10px;
    padding-left: 1px;
    padding-bottom: 40px;
    position: relative;
    float: left;
}
.drop-downs:hover .content {
    display: block;
}

.references {
    text-decoration: none;
    color: black;
    display: block;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}
.references:hover {
    background-color: rgb(195, 195, 195);
}