* {
    margin: 0px;
    padding: 0px;
}
ul{
    list-style-type:none;
    overflow: hidden;   
}
nav{
    height: 54px;
    background-color: #DDDDDD;
}

.navegador-lateral {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.45);
    overflow: hidden;
    display: block;
    background-color: white;
}

.drop-downs {
    display: block;
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    border: 1px solid #DDDDDD;            
    overflow: visible;
    max-height: 0px;
    transition: max-height 2s;
}
.drop-downs:hover{  
    max-height: 200px;
}

.links {
    letter-spacing: 3px;
}
.drop-downs .links {
    background-color: #DDDDDD;
    color: black;
    text-decoration: none;
    display: block;
    padding: 15px;
}
.drop-downs:hover .links{  
    background-color: #CCCCCC;
    color: black;
}

.content {
    display: inline;
    background-color: #DDDDDD;
    height: 40px;
    width: 180px;
    padding-top: 10px;
    padding-left: 1px;
    padding-bottom: 100px;
    position: relative;
    float: left;
}
.drop-downs:hover .content {
    display: block;
}

.references {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}
.references:hover {
    background-color: rgb(195, 195, 195);
}
#lateral ul li a{
    list-style-type: none;
}

.lateral{
    overflow: scroll;
    height: 100vw;
    margin-top: 10px;
    width:20%;
    position: relative;
}