*{
    margin: 0px;
    padding: 0px;
}
#article1{
    overflow: hidden;
    background-color: white;
    border-style: solid 2px 2px 3px 3px;
    border-color: black;
}
.menu-lateral {
    background-color: white;
    float: left;
    width: 30%;
}
