#titulo-pag{ /* Seletor por Id*/
    margin: 0;
    text-align: left;
    font-family: fantasy
}

/*menu*/
#menu ul {
    font-family:monospace;
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}
#menu ul li { 
    display: inline; 
}
#menu ul li a {
    padding: 5px 15px;
    display: inline-block;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:5px solid #EDEDED;
}
#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid black;
}
/*Fim do menu*/

h1{  /* Seletor por Elemento*/
    color: black;
    font-family: 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/*Articles*/
.article1{ /* Seletor por Classe*/
    border-style: solid;
    text-align: center;
    color: white;
    border-width: 2px 2px 2px 2px;

}

.article2{
    border-style: solid;
    border-color: white;
    border-width: 2px 2px 2px 2px;
}
#h1-article2{
    text-align: center;
}
#parag-article2{
    text-align: center;
    font-family: arial;
    color: white;
}
#h3-section1{
    position: relative;
    left: 10px;
    color: black;
    font-family: Arial;
}
#paragrafo1{
    position: relative;
    left: 20px;
    font-family: arial;
    color: white;
}
#h3-section2{
    position: relative;
    left: 10px;
    color: black;
    font-family: Arial;
}
#paragrafo2{
    position: relative;
    left: 20px;
    font-family: arial;
    color: white;
}

.article3{
    padding: 15px;
    margin-top: 20px;
    border-style: solid;
    border-color: white;
    border-width: 2px 2px 2px 2px;
}

.article4{
    padding: 15px;
    margin-top: 20px;
    border-style: solid;
    border-color: white;
    border-width: 2px 2px 2px 2px;
}
#h1-article4{
    text-align: center;
}
#parag-article4{
    text-align: center;
}
#audio{
    position: relative;
    left: 38%;
}
#video{
    position: relative;
    left: 38%;
    border: none;
    width: 340px;
    height: 220px;
}
#h3-trailer{
    text-align: center;
    font-family: Arial;
    color: black;
}

.article5{
    padding: 15px;
    margin-top: 20px;
    border-style: solid;
    border-color: white;
    border-width: 2px 2px 2px 2px;
}
/*Fim dos Articles*/
#header-form{
    color: black;
    font-family: Arial;
}
#formulario{
    color: white;
    font-family: Arial;
}