#titulo-pag{
    text-align: left;
    font-family: fantasy;
}

#menu ul {
    font-family:monospace;
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}
#menu ul li { 
    display: inline; 
}
#menu ul li a {
    padding: 5px 15px;
    display: inline-block;
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:5px solid #EDEDED;
}
#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid black;
}

.article1{
    height: 270px;
    background-image:url(Imagens/coffee.png);
    background-size: 30px;
    border-style: double;
    border-color: white;
    color: white;
}
#imagem{
    margin-top: 0px;
    margin-left: 10;
    float: left;
    border: solid 1px white;
    width: 170px;
    height: 230px;
}
#img{
    float: left;
    width: 170px;
    height: 230px;
}
#h1, .article1{
    text-align: center;
    color: white;
}

div{
    height:220px;
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 40px;
    background-color: rgb(0,128,128);
}
#nome{
    padding: 10px;
}
#paragrafo{
    padding: 0px;
    margin: 0px;

}
#facebook{
    position: relative;
    left: 8px;
    padding: 10px;
    background-color:#EDEDED;
    font-family: "Haettenschweiler";
    color: #3b5998;
    font-size: 20px;
}
#imagem-fb{
    width: 25px;
    height: 25px;
}
