#titulo-pag{
    font-family: fantasy
}

#menu ul {
    font-family:monospace;
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}

#menu ul li { 
    display: inline; 
}

#menu ul li a {
    padding: 5px 15px;
    display: inline-block;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:5px solid #EDEDED;
}

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid black;
}

.article1{
    border-style: solid;
    text-align: center;
    color: white;

}

#cor-black{
    color: black;

}

#parag-white{
    text-align: center;
    color: white;
}

.article2{
    border-style: solid;
    border-color: white;
    border-width: 2px 2px 2px 2px;
}

#h1-titulo{
    text-align: center;
    font-family: arial;
}

#h3-texto{
    position: relative;
    left: 10px;
    color: black;
    font-family: Arial;
}
#paragrafo1{
    position: relative;
    left: 20px;
    font-family: arial;
    color: white;
}
#paragrafo2{
    position: relative;
    left: 20px;
    font-family: arial;
    color: white;
}
#h3-texto2{
    position: relative;
    left: 10px;
    color: black;
    font-family: Arial;
}
.article3{
    padding: 15px;
    margin-top: 20px;
    border-style: solid;
    border-color: white;
    border-width: 2px 2px 2px 2px;
}
#parag{
    margin-left: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#mu-header{
    margin-left: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.article4{
    padding: 15px;
    margin-top: 20px;
    border-style: solid;
    border-color: white;
    border-width: 2px 2px 2px 2px;
}
#titulo-article4, .article4{
    color: white;
    font-family: Arial, 'Helvetica', sans-serif;
}

#video{
    margin-left: 36.5%;
    width: 340px;
    height: 220px;
}
#trailer{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

.article5{
    padding: 15px;
    margin-top: 20px;
    border-style: solid;
    border-color: white;
    border-width: 2px 2px 2px 2px;
}
#header-form{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#formulario{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}